@import "./mixins/all";
@import "./base/normalise";

/**
 define some sensible defaults

**/

* {
	border-color: $nav-border-color;
}

section {
	margin: 1em 0;
}

footer {
	position: fixed;
	bottom: 0;
}