nav ul {
	display: flex;
	flex-direction: row;

	li {
		flex: 1 1 0;
		text-align: center;

		background-color: $nav_background_color;
		@include tableStyleBorders(1px, solid, $nav_border_color);

		a {
			display: block;
			padding: 0.5ex 1ex;

			&,
			&:hover,
			&:focus,
			&:active,
			&:visited {
				color: $nav_link_color;
				text-decoration: none;

			}
		}

	}
}