@import 'totals';

.swt-plan-type-section {
	display: flex;
	text-align: center;

	label {
		flex: 1 1 0;
	}

	select {
		flex: 1 2 0;
	}
}


.swt-add-food-section {
	display: flex;

	input,
	button {
	// TODO Set the style
	}

	input {
		flex: 5 1 0;
	}

	button {
		flex: 1 1 0;
	}
}

.swt-food-list-section {
	table {
		width: 100%;
	}

	td {
		padding: 0 1ex;
	}
}