<! DOCTYPE="html">
<html>
<head>
	<title>Slimming World Tracking</title>


	{{#liveReloadPort}}
	<script src="//localhost:{{liveReloadPort}}/livereload.js"></script>
	{{/liveReloadPort}}
</head>
<body>
<header>
	<nav>
		<ul>
			<li><a href="#/today">Today</a></li>
			<li><a href="#/history">History</a></li>
			<li><a href="#/more">More</a></li>
		</ul>
	</nav>
</header>


<div id="main">
</div>

<footer>
	Copyright Qazzian. SlimmingWorld trademarks etc.
</footer>

{{#scripts}}
<script src="{{{.}}}"></script>
{{/scripts}}

</body>
</html>
