
<todaysTotals class="totals" {hoa}="{{hoa}}" {hob}="{{hob}}" {syns}="{{syns}}">
</todaysTotals>

{{!--<section class="swt-plan-type-section">--}}
{{!--</section>--}}

{{!--<section class="swt-add-food-section">--}}
	{{!--<input type="text" name="swt-add-food"/>--}}
	{{!--<button class="add-food-button" title="Add food">+</button>--}}
{{!--</section>--}}

{{!--<section class="swt-food-list-section">--}}
	{{!--<table>--}}
		{{!--<thead>--}}
		{{!--<tr>--}}
			{{!--<th>Cat</th>--}}
			{{!--<th>food</th>--}}
			{{!--<th>amount</th>--}}
		{{!--</tr>--}}
		{{!--</thead>--}}
		{{!--<tbody>--}}
		{{!--<tr>--}}
			{{!--<td class="std-food-cat-a">A</td>--}}
			{{!--<td>Healthy Option A</td>--}}
			{{!--<td>-</td>--}}
		{{!--</tr>--}}
		{{!--<tr>--}}
			{{!--<td class="std-food-cat-b">B</td>--}}
			{{!--<td>Healthy Option B</td>--}}
			{{!--<td>-</td>--}}
		{{!--</tr>--}}
		{{!--<tr>--}}
			{{!--<td class="std-food-cat-free">F</td>--}}
			{{!--<td>Free Food</td>--}}
			{{!--<td>-</td>--}}
		{{!--</tr>--}}
		{{!--<tr>--}}
			{{!--<td class="std-food-cat-syn">{{x}}</td>--}}
			{{!--<td>Syn Food</td>--}}
			{{!--<td>-</td>--}}
		{{!--</tr>--}}
		{{!--</tbody>--}}

	{{!--</table>--}}
{{!--</section>--}}